.group
  .group_top
    .group_top_note
      = link_to new_group_path, class: "group_top_note_list" do
        .group_top_note_list_link
          %i.fas.fa-plus-circle
          新規Note
  .group_room
    - current_user.groups.each do |group|
      = link_to group_notes_path(group), class: "group_room_list" do
        .group_room_list_content
          .group_room_list_content_name
            %span.group_room_list_content_name_text
              %i.far.fa-star
              = group.name
          .group_room_list_content_note
            = group.show_last_note

  = audio_tag 'everyday.mp3'
  :javascript
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
