.note_list_content{"data-note-id": "#{note.id}"}
  .note_list_content_left
    .note_list_content_left_text
      .note_list_content_left_text_date
        %span.note_list_content_left_text_date_date
          .note_list_content_left_text_date_date_text
            - if note.scheduled_date.present?
              = note.scheduled_date.strftime("%Y/%m/%d") + "　"
        .note_list_content_left_text_date_time
          %span.note_list_content_left_text_date_time_text
            - if note.scheduled_time.present?
              = note.scheduled_time.strftime("%H:%M")
      .note_list_content_left_text_text
        - if note.text.present?
          = note.text
    .note_list_content_right_name_image
      = image_tag note.image.url if note.image.present?
  .note_list_content_right
    .note_list_content_right_left
      .note_list_content_right_left_name
        = "「" + note.user.name + "」の投稿"
      .note_list_content_right_left_time
        投稿時間:
        = note.created_at.strftime("%Y/%m/%d %H:%M")
    = link_to "notes/#{note.id}" , method: :delete, class: "note_list_content_right_right" do
      .note_list_content_right_right_delete
        %i.fas.fa-trash-alt