.note_list_content{"data-note-id": "#{note.id}"}
  .note_list_content_left
    .note_list_content_left_text
      - if note.text.present?
        = note.text
    .note_list_content_right_name_image
      = image_tag note.image.url if note.image.present?
  .note_list_content_right
    .note_list_content_right_name
      = "「" + note.user.name + "」の投稿"
    .note_list_content_right_time
      登録時間:
      = note.created_at.strftime("%Y/%m/%d %H:%M")