.note
  .note_input
    = form_for [@group, @note] do |f|
      .note_input_text
        = f.text_field :text, class: 'note_input_text_box', placeholder: 'メモを追加', autocomplete: "off"
        .note_input_text_image
          = f.label :image, class: 'note_input_text_image_box' do
            %i.fas.fa-camera-retro.faa-wrench.animated-hover
            = f.file_field :image, class: 'hidden'
      .note_input_menu
        .note_input_menu_date
          = f.text_field :scheduled_date, id: "datepicker", autocomplete: "off", placeholder: '日を選択', class: "note_input_menu_date_box"
        .note_input_menu_time
          = f.select :scheduled_time, ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], {include_blank: '時'}, class: "note_input_menu_time_time"
          ：
          = f.select :scheduled_minute, ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'], {include_blank: '分'}, class: "note_input_menu_time_minute"
        .note_input_menu_btn
          = f.submit '登録', class: 'note_input_menu_btn_text'
  .note_list
    = render @notes