.note
  .note_input
    = form_for [@group, @note] do |f|
      .note_input_text
        = f.text_field :text, class: 'note_input_text_box', placeholder: 'メモを追加', autocomplete: "off"
        .note_input_text_image
          = f.label :image, class: 'note_input_text_image_box' do
            %i.fas.fa-camera-retro
            = f.file_field :image, class: 'hidden'
      .note_input_menu
        .note_input_menu_date
          = f.text_field :scheduled_date, id: "datepicker", autocomplete: "off", placeholder: '日にちを選択', class: "note_input_menu_date_box"
          = f.time_select :scheduled_time, prompt:true, prompt: "---", class: "note_input_menu_date_time", minute_step: 10
        .note_input_menu_btn
          = f.submit '登録', class: 'note_input_menu_btn_text'
  .note_list
    = render @notes