= form_for @group do |f|
  - if @group.errors.any?
    .note_group_content_error
      %h2= "#{@group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @group.errors.full_messages.each do |message|
          %li= message
  .note_group_content_field
    .note_group_content_field_name
      .note_group_content_field_name_label
        = f.label "ノート名(10文字まで)"
      .note_group_content_field_name_input
        = f.text_field :name, class: 'note_group_content_field_name_input_text', placeholder: 'ノート名を入力', autocomplete: "off"
    .note_group_content_field_member
      .note_group_content_field_member_label
        = f.label "追加メンバー"
      .note_group_content_field_member_check
        = f.collection_check_boxes :user_ids, User.all, :id, :name
    .note_group_content_field_btn
      = f.submit "登録", class: 'note_group_content_field_btn_text'