.account
  .account_content
    .account_content_title
      ToDo_Note
    .account_content_top
      アカウント編集ページ
    .account_content_main
      = form_for(current_user) do |f|
        .account_content_main_form
          .field
            .field-input
              = f.text_field :name, autofocus: true, placeholder: "name(10文字まで)", class: "field_input_text", autocomplete: "off"
          .field
            .field-input
              = f.email_field :email, placeholder: "email", class: "field_input_text", autocomplete: "off"
          .register_btn
            = f.submit "更新", class: 'register_btn_text'
          .login_switching_btn
            = link_to destroy_user_session_path, method: :delete, class: 'login_switching_btn_text' do
              ログアウト
          .login_switching_btn
            = link_to :back, class: 'login_switching_btn_text' do
              トップページに戻る