.account
  .account_content
    .account_content_title
      ToDo_Note
    .account_content_main
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        
        .account_content_main_form
          .field
            .field_input
              = f.email_field :email, autofocus: true, placeholder: "email", class: "field_input_text", autocomplete: "off"
          .field
            .field_input
              = f.password_field :password, autocomplete: "off", placeholder: "password(英数字8文字以上)", class: "field_input_text"
          .register_btn
            = f.submit "ログイン", class: 'register_btn_text'
          = render "devise/shared/links"